@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./swiper/swiper-bundle.min.css";

@font-face {
    font-family: "Acephimere";
    src: url("../fonts/Acephimere/Acephimere.eot");
    src: url("../fonts/Acephimere/Acephimere.eot") format("embedded-opentype"),
        url("../fonts/Acephimere/Acephimere.woff2") format("woff2"),
        url("../fonts/Acephimere/Acephimere.woff") format("woff"),
        url("../fonts/Acephimere/Acephimere.ttf") format("truetype"),
        url("../fonts/Acephimere/Acephimere.svg#Acephimere") format("svg");
}

.slider-principal {
    width: 1100px;
    height: 300px;
}

.font-acephimere {
    font-family: "Acephimere";
}

.slider-principal .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
}
.slider-principal .swiper-slide .contenido {
    max-width: 400px;
}

.bg-colorido {
    background: #265b91;
    background: -moz-linear-gradient(
        left,
        rgba(38, 91, 145, 1) 0%,
        rgba(74, 173, 82, 1) 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0%, rgba(38, 91, 145, 1)),
        color-stop(100%, rgba(74, 173, 82, 1))
    );
    background: -webkit-linear-gradient(
        left,
        rgba(38, 91, 145, 1) 0%,
        rgba(74, 173, 82, 1) 100%
    );
    background: -o-linear-gradient(
        left,
        rgba(38, 91, 145, 1) 0%,
        rgba(74, 173, 82, 1) 100%
    );
    background: -ms-linear-gradient(
        left,
        rgba(38, 91, 145, 1) 0%,
        rgba(74, 173, 82, 1) 100%
    );
    background: linear-gradient(
        to right,
        rgba(38, 91, 145, 1) 0%,
        rgba(74, 173, 82, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b91',endColorstr='#4aad52',GradientType=1);
}

.box-curso .box-imagen {
    opacity: 1;
}
.box-curso:hover .box-imagen {
    opacity: 0.7;
}
.box-curso .principal .title {
    background-color: #fff;
    color: #000;
}
.box-curso:hover .principal .title {
    background: #265b91;
    background: -moz-linear-gradient(
        left,
        rgba(38, 91, 145, 1) 0%,
        rgba(74, 173, 82, 1) 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0%, rgba(38, 91, 145, 1)),
        color-stop(100%, rgba(74, 173, 82, 1))
    );
    background: -webkit-linear-gradient(
        left,
        rgba(38, 91, 145, 1) 0%,
        rgba(74, 173, 82, 1) 100%
    );
    background: -o-linear-gradient(
        left,
        rgba(38, 91, 145, 1) 0%,
        rgba(74, 173, 82, 1) 100%
    );
    background: -ms-linear-gradient(
        left,
        rgba(38, 91, 145, 1) 0%,
        rgba(74, 173, 82, 1) 100%
    );
    background: linear-gradient(
        to right,
        rgba(38, 91, 145, 1) 0%,
        rgba(74, 173, 82, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b91',endColorstr='#4aad52',GradientType=1);
    color: #fff;
}

.ec {
    position: relative;
}
.ec .ec__holder {
    overflow: hidden;
}
.ec .ec__track {
    will-change: transform;
}
.ec .ec__track:after {
    content: "";
    display: table;
    clear: both;
}
.ec .ec__item {
    float: left;
    overflow: hidden;
}
.ec .ec__pagination {
    text-align: center;
    margin-top: 10px;
}
.ec .ec__pagination .pagination__dot {
    width: 8px;
    height: 8px;
    background-color: transparent;
    display: inline-block;
    border: 1px solid #000;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}
.ec .ec__pagination .pagination__dot--active {
    background-color: #000;
}
.ec .ec__nav {
    position: absolute;
    bottom: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    width: 8px;
    height: 8px;
    cursor: pointer;
}
.ec .ec__nav:before {
    content: "";
}
.ec .ec__nav--prev {
    transform: rotate(-135deg);
    left: 1em;
}
.ec .ec__nav--next {
    transform: rotate(45deg);
    right: 1em;
}

.carousel {
    max-width: 600px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
    padding: 0.5em;
}
.example-box {
    margin-bottom: 50px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,.4); */
    padding: 1em;
    border-radius: 12px;
    border: 1px solid #dfdfdf;
}
.example-box h2 {
    margin: 0 0 20px !important;
}
.box {
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #2193b0, #6dd5ed);
    border: 3px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-size: 26px;
}

.loading_custom {
    position: fixed;
    z-index: 99999999999999999999999999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-file {
    position: relative;
    max-width: 150px;
}
.btn-file::before {
    content: 'Subir imagen';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(55, 65, 81);
    color: white;
    text-align: center;
    padding-top: 4px;
}

.btn-contenido {
  position: relative;
  max-width: 150px;
}
.btn-contenido::before {
  content: 'Subir contenido';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(55, 65, 81);
  color: white;
  text-align: center;
  padding-top: 4px;
}


.scroll-custom::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

.scroll-custom::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.scroll-custom::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scroll-custom::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}


/* Ponemos un color de fondo y redondeamos las esquinas del track */
.scroll-custom::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.scroll-custom::-webkit-scrollbar-track:hover,
.scroll-custom::-webkit-scrollbar-track:active {
background: #d4d4d4;
}
